/* jobsTab.css */
/* jobs container- jobstab */
.jobs-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 2fr));
    padding: 1rem;
    grid-gap: 1rem;
    width: 75vw;
    justify-content: center;
    align-items: center;

}


.job-post-preview {
    background-color: #ffffff;
    border: none;
    padding: 0.8rem;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    height: 300px;
    overflow: hidden;
}
.job-link{
    text-decoration: none;
}
.job-post-preview:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.job-post-preview h3 {
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.4rem;
}

.job-post-preview p {
    margin: 0.25rem 0;
    color: #666;
    line-height: 1.4;
}

.job-post-preview p strong {
    color: #1c418c;
    font-weight: 600;
}





/* Tablets and large phones (landscape mode) */
@media (max-width: 1024px) {
    .jobs-container {
        grid-template-columns: repeat(1, minmax(300px, 2fr));
    
    }
    
    .job-post-preview{
        margin: 0.5rem 0;
    }
}

/* Small tablets and large smartphones */
@media (max-width: 768px) {
    /* CSS */
}

/* Smaller smartphones */
@media (max-width: 480px) {


   
}