.sidebar {
    width: 20vw;
    background-color: #1c418c;
    margin: 0;
    display: flex;
    /* position: fixed; */
    flex-direction: column;
    /* align-items: flex-start; */
    height: auto;
    overflow: hidden;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.578);
}


.navlinks-sidebar{
    display: flex;
    flex-direction: column;
    
border-bottom: 1px solid rgba(255, 255, 255, 0.207);


}

.navlinks-sidebar a, .logout-button {
    text-align: left;
    font-size: 1rem;
    text-decoration: none;
    /* width: 20rem; */
    padding: 1.2rem;
    color: white;
    
}


.navlinks-sidebar a:hover, .sidelinkHover:hover {
    cursor: pointer;
    background-color: #79797950;
}

/* active tab on sidebar */
.active-tab {
    background-color: #ffffff;
    color: black !important;
}

.active-tab:hover {
    background-color: rgb(255, 255, 255) !important;
}



    
   
  

  /* Tablets and large phones (landscape mode) */
@media (max-width: 1024px) {
 
    
  }
  
  /* Small tablets and large smartphones */
  @media (max-width: 768px) {
.sidebar {
    width: 20vw;
}

}
  
  /* Smaller smartphones */
  @media (max-width: 530px) {


    .sidebar {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Split into two columns */
        gap: 0.2rem;
        min-height: auto;
        padding: 0.5rem;
      }
    
      .navlinks-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
    
      .navlinks-sidebar a, .logout-button {
        padding: 0.5rem;
        font-size: 0.8rem; /* Adjust font size for mobile */
      }
    /* .nav-items > * {
        padding: 0.8rem 0 !important;
        font-size: 0.9rem;
    }

    .navlinks-sidebar a, .logout-button {
        padding: 2rem;
        
    }

    .sidebar{
        display: flex;
        min-height: 5rem;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .navlinks-sidebar {
        display: flex;
        height: 4rem;
        padding: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } */

}