/* Modal.css */
.modal-backdrop {
    position: absolute;
    z-index: 99;
   top: 0;
   left: 25%;
   bottom: 0;
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  
  .modal {
    background-color: #006d97;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.795);
    cursor: pointer;
  
  
  }

  .modal-actions>*{
cursor: pointer;
border: none;
padding: 0.5rem;
border-radius: 5px;

margin: 5px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.795);
  }