
/* whole div */


/* .whole-job-div{

    margin:  2rem auto;
    padding: 1rem 2rem;
width: 1100px;
box-shadow: 0 5px 12px rgb(0, 0, 0);

} */

/* action buttons detailed job description */

.actionbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 1.5rem;
    padding: 0.7rem; 
    background-color: #006d97;
}

.actionbtn {
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
    background: none;
    border: none;
}
.apply-links{
    display: flex;
}

.linkedin-link:link,
.linkedin-link:visited {
    background-color: #006d97;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.linkedin-link:hover,
.linkedin-link:active {
    background-color: #006d97;
}
.mailTo-link:link, .mailTo-link:visited{
    background-color: #006d97;
    text-decoration: none;
    padding: 11.9px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailTo-link button {
    border: none;
    font-size: 1rem;
    cursor: pointer;

    background-color: #006d97;
color: white;
padding: 0;
    text-decoration: none;
}

.material-symbols-outlined {
    color: white !important;
    margin: 0 0 0 10px;
    padding: 0;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
  }

  .Mail-link-div{
    display: flex;
    flex-direction: column;
  }

/* Tablets and large phones (landscape mode) */
@media (max-width: 1024px) {

  }
  
  /* Small tablets and large smartphones */
  @media (max-width: 768px) {
    /* CSS */
  }
  
  /* Smaller smartphones */
  @media (max-width: 480px) {
  
  
   
  }
