/* JobList.module.css  */
.jobsContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 2fr));
    padding: 1rem;
    grid-gap: 1rem;
    width: 75vw;
    justify-content: center;
    align-items: center;

}


.jobPostPreview {
    background-color: #ffffff;
    border: none;
    padding: 0.8rem;
box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.237);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    height: 300px;
    overflow: hidden;
}
.jobLink{
    text-decoration: none;
}

.jobPostPreview:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.jobPostPreview h3 {
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.4rem;
}

.jobPostPreview p {
    margin: 0.25rem 0;
    color: #666;
    line-height: 1.4;
}

.jobPostPreview p strong {
    color: #1c418c;
    font-weight: 600;
}

/* MODULAR WHOLE JOBDIV FROM JOBDETAILS - REUSABLEJOBDETAILS */
.wholeJobDiv{

    margin: 0 auto 2rem;
    padding: 1rem 2rem;
width: 1100px;
box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.237);

}


/* Tablets and large phones (landscape mode) */
@media (max-width: 1024px) {
    .jobsContainer {
        grid-template-columns: repeat(1, minmax(300px, 2fr));
    
    }
    
    .jobPostPreview{
        margin: 0.5rem 0;
    }

    .wholeJobDiv{

        width: 90%;
        
        }
}

/* Small tablets and large smartphones */
@media (max-width: 768px) {
    /* CSS */
}

/* Smaller smartphones */
@media (max-width: 480px) {
    .wholeJobDiv{

        width: 80%;
        
        }
    
   
}