
.client-dashboard-div {
    max-height: 145vh;
    overflow: hidden;
    padding: 0 0 3rem 0;
}

.searchbar-div-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 4rem;
}

.main-container-columns-div {
    height: calc(90vh);
    overflow-y: hidden;
    display: flex;
    margin: 0 3rem 3rem;
    justify-content: center;

}

.job-preview-container-div {
    overflow-y: scroll;
    padding: 0 0 2rem;
    margin:0 0 4rem;
}
.job-details-container-div {
    width: 49vw;
    margin: 0 1rem;

}

.selecciona-trabajo {
    height: 30rem;
    margin: 0;
    padding: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}
@media (max-width: 1444px) {
   
}
/* Tablets and large phones (landscape mode) */
@media (max-width: 1024px) {
    }

/* Small tablets and large smartphones */
@media (max-width: 768px) {
    }
/* Smaller smartphones */
@media (max-width: 480px) {

    .searchbar-div-client {

        margin: 2rem 0 0;
    }

    .main-container-columns-div {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 5rem;
        flex-direction: column;
        margin: 3rem 1rem;
        width: 100%;
    }
}